<h1 mat-dialog-title>{{ player.user.name }}</h1>
<div mat-dialog-content>  
  <img class="img-fluid rounded mx-auto d-block" src="{{ player.image }}">
  <div class="row mt-4 mb-4">
    <div class="col">
      <h5>Descrição:</h5>
      <div [innerHTML]="player.detail | nl2br"></div>
      <span *ngIf="!player.detail">Jogador sem descrição...</span>
    </div>
    <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h5>Informações Gerais</h5></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>Status: {{ helperService.status(player.credential) }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="text-warning">{{ player.gold }} Gold</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="text-primary">{{ player.cash }} Cash</mat-list-item>
      </mat-list>
    </mat-card> 
    <mat-card class="mt-4">
      <mat-card-header>
        <mat-card-title><h5>Items</h5></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let item of player.items">
          {{ item.name }} - {{ item.process.units }} unidade(s)
        </mat-list-item>
      </mat-list>
    </mat-card>
    </div> 
  </div>
</div>  
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close class="m-1">Fechar</button>
</div>