<h1 mat-dialog-title>
  <div class="d-flex">
    <span>({{helperService.status(player.credential)}}) {{ player.user.name }}</span>
    <span class="eth-between"></span>
    <eth-player-delete-button [player]="player" (delete)="dialogRef.close()"></eth-player-delete-button>
  </div>
</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 col-md-6">
      <img class="img-fluid mat-elevation-z8" src="{{ player.image }}">
      <mat-card class="mt-4 mb-4 mat-elevation-z8">
        <mat-card-header>
          <mat-card-title> Imagem do Jogador </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <input type="file" #imagePlayer (change)="handleFileInput($event.target.files)" class="form-control-file">
          <span class="text-muted">A nova imagem, após ser salva, irá aparecer assim que você recarregar a página!</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z8">
          <mat-expansion-panel-header>
            <mat-panel-title>Geral</mat-panel-title>
          </mat-expansion-panel-header>
            <form [formGroup]="form">
              <mat-form-field appearance="outline"> 
                <mat-label>Credenciais do jogador</mat-label>
                <mat-select formControlName="credential" placeholder="Escolha uma credencial">
                  <mat-option [value]="0">Pedido Pendente</mat-option>
                  <mat-option [value]="1">Jogador</mat-option>
                  <mat-option [value]="2">Moderador</mat-option>
                  <mat-option [value]="3">Mestre Auxiliar</mat-option>
                  <mat-option disabled [value]="4">Mestre</mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('credential')">
                  <strong>Você deve escolher uma credencial para o jogador!</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Gold</mat-label>
                <input matInput type="number" formControlName="gold" placeholder="Digite o gold do jogador">
                <mat-error *ngIf="isFieldInvalid('gold')">
                  <strong>O gold deve ser preenchido com um valor maior ou igual a 0!</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cash</mat-label>
                <input matInput type="number" formControlName="cash" placeholder="Digite o cash do jogador">
                <mat-error *ngIf="isFieldInvalid('cash')">
                  <strong>O cash deve ser preenchido com um valor maior ou igual a 0!</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Detalhes do Jogador</mat-label>
                <textarea rows="15" #detail matInput maxlength="5000" formControlName="detail" placeholder="Escreva os detalhes aqui">
                </textarea>
                <mat-hint align="end">{{detail.value.length}} / 5000</mat-hint>
              </mat-form-field>
              <mat-error *ngIf="isFieldInvalid('detail')">
                <strong>Os detalhes do jogador não podem passar os 5000 caracteres!</strong>
              </mat-error>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z8">
          <mat-expansion-panel-header>
            <mat-panel-title>Items</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let item of player.items">
              <span>{{ item.name }} - {{ item.process.units }} unidade(s)</span>
              <span class="eth-between"></span>
              <button mat-stroked-button color="warn" class="m-1" (click)="discardItem(item)">
                Descartar 
              </button>
            </mat-list-item>
          </mat-list>        
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z8">
          <mat-expansion-panel-header>
            <mat-panel-title>Pedidos de Item</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let request of player.requests">
              <span>Aguardando por [{{ request.name }}] ...</span>
              <span class="eth-between"></span>
              <button mat-stroked-button color="accent" class="m-1" (click)="approveRequest(request)">
                Aprovar 
              </button>
              <button mat-stroked-button color="warn" class="m-1" (click)="dismissRequest(request)">
                Rejeitar 
              </button>
            </mat-list-item>
          </mat-list>          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close class="m-1">Fechar</button>
  <button mat-stroked-button color="accent" [disabled]="form.invalid" (click)="updatePlayer()" class="m-1">Salvar</button>
</div>