<div class="row mb-2">
  <div class="col-12">
    <mat-card *ngIf="rpg">
      <!--img  #rpgImage mat-card-image src="{{ rpg.image }}"
            [ngStyle]="{'height.px': rpgImage.width/3, 'object-fit': 'cover'}"-->
      <mat-card-header>
        <h5>{{ rpg.name }}</h5>
        <span class="eth-between"></span>
        <button *ngIf="!rpg?.player" (click)="register(rpg.id)"
                type="button" mat-raised-button color="primary"
                matTooltipPosition="left" matTooltip="Lembre-se que deve estar logado para se inscrever!">
          Inscrever
        </button>
        <button *ngIf="rpg?.player" (click)="register(rpg.id)" 
                type="button" mat-button color="warn">
          {{ (rpg.player.credential)?"Desinscrever":"Aguardando" }}
        </button>
      </mat-card-header>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-tab-group mat-stretch-tabs *ngIf="rpg">
      <mat-tab label="Principal" *ngIf="rpg?.player?.credential">
        <ng-template matTabContent>
          <eth-player-painel></eth-player-painel> 
        </ng-template>
      </mat-tab>
      <mat-tab label="Lojas">
        <ng-template matTabContent>
          <eth-shop></eth-shop> 
        </ng-template>
      </mat-tab>
      <mat-tab label="Jogadores">
        <ng-template matTabContent>
          <eth-player></eth-player>
        </ng-template>
      </mat-tab>
      <mat-tab label="Painel" *ngIf="rpg?.player?.credential > 1">
        <mat-card>
          <mat-tab-group mat-strech-tabs>
            <mat-tab label="Gerenciar Rpg" *ngIf="rpg?.player?.credential > 1">
              <eth-rpg-control></eth-rpg-control>
            </mat-tab>
            <mat-tab label="Gerenciar Lojas" *ngIf="rpg?.player?.credential > 2">
              <eth-item-control></eth-item-control>
            </mat-tab>
            <mat-tab label="Gerenciar Jogadores">
              <eth-player-control></eth-player-control>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
