<div class="row mb-2">
  <div class="col-12">
    <div class="card" *ngIf="rpg">
      <img  #rpgImage class="card-img-top" src="{{ rpg.image }}"
            [ngStyle]="{'height.px': rpgImage.width/3, 'object-fit': 'cover'}">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col-6">
            <h5>{{ rpg.name }}</h5>
          </div>
          <div class="col-6 col-md-4 col-lg-2">
            <button *ngIf="!rpg?.player" (click)="register(rpg.id)"
                    type="button" class="btn btn-outline-primary btn-block float-right"
                    placement="left" ngbTooltip="Lembre-se que deve estar logado para se inscrever!">
              Inscrever
            </button>
            <button *ngIf="rpg?.player" (click)="register(rpg.id)" 
                    type="button" class="btn btn-outline-danger btn-block float-right">
              {{ (rpg.player.credential)?"Desinscrever":"Aguardando" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ngb-tabset justify="justified" *ngIf="rpg">
      <ngb-tab title="Principal" *ngIf="rpg?.player?.credential">
        <ng-template ngbTabContent>
          <eth-player-painel></eth-player-painel> 
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Lojas">
        <ng-template ngbTabContent>
          <!--eth-shop-control></eth-shop-control>
          <eth-player-control></eth-player-control-->
          <eth-shop></eth-shop> 
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Jogadores">
        <ng-template ngbTabContent>
          <eth-player></eth-player>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Painel" *ngIf="rpg?.player?.credential > 1">
        <ng-template ngbTabContent>

          <ngb-tabset justify="justified" type="pills">
            <ngb-tab title="Gerenciar Rpg" *ngIf="rpg?.player?.credential > 2">
              <ng-template ngbTabContent>
                <eth-rpg-control></eth-rpg-control>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Gerenciar Lojas">
              <ng-template ngbTabContent>
                <eth-shop-control></eth-shop-control>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Gerenciar Jogadores">
              <ng-template ngbTabContent>
                <eth-player-control></eth-player-control>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
