<div class="container">
<div class="row mt-4" *ngIf="rpg && rpg.shops && rpg.shops[0]">
  <div class="col-12 col-md-6">
    <mat-form-field appearance="outline">
      <mat-label> Lojas de {{ rpg.name }}</mat-label>
      <mat-select [(ngModel)]="shopId" >
        <!--option [ngValue]="[]">Escolha uma categoria</option-->
        <mat-option *ngFor="let shop of rpg.shops" [value]="shop.id">
          {{ shop.name }} {{ (shop.is_multiple_sale)?'':'[venda única]' }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix matTooltipPosition="left" matTooltipClass="eth-tooltip"
                matTooltip="Quando a loja é de venda única, o jogador só pode possuir um item desta. Uma segunda compra, irá substituir as anteriores.">
        announcement
      </mat-icon>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field appearance="outline">
      <mat-label> Filtro </mat-label>
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Buscar items pelo nome...">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
    <mat-card class="mb-4">
      <img  #itemImage mat-card-image (click)="open(item)" src="{{ item.image }}"
            [ngStyle]="{'height.px': itemImage.width/2, 'object-fit': 'cover'}">
      <mat-card-header (click)="open(item)">
        <mat-card-title><h5>{{ item.name }}</h5></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list>
            <mat-chip *ngIf="item.require_test" color="warn" selected> Requer Aprovação </mat-chip>
            <mat-chip *ngIf="item.max_units" color="warn" selected>limite {{ item.max_units }}</mat-chip>
            <mat-chip *ngIf="!item.max_units && !item.require_test">Sem Requisitos</mat-chip>
        </mat-chip-list>  
      </mat-card-content>
      <mat-card-footer class="card-footer text-center">
        <a class="card-link text-warning">{{ item.gold_price }} Gold</a>
        <a class="card-link text-primary">{{ item.cash_price }} Cash</a>
        <button type="button" mat-stroked-button color="accent" class="card-link" (click)="buy(item)">Comprar</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
</div>