<div class="row">
  <div class="col-12">
    <div class="input-group" *ngIf="rpg?.shops">
      <div class="input-group-prepend">
        <label class="input-group-text"> Lojas de {{ rpg.name }}</label>
      </div>
      <select [(ngModel)]="shopId" class="custom-select">
        <!--option [ngValue]="[]">Escolha uma categoria</option-->
        <option *ngFor="let shop of rpg.shops" [ngValue]="shop.id">{{ shop.name }}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
    <div class="card mt-4">
      <img  #itemImage class="card-img-top" (click)="open(item)" src="{{ item.image }}"
            [ngStyle]="{'height.px': itemImage.width/2, 'object-fit': 'cover'}">
      <div class="card-body" (click)="open(item)">
        <h5 class="card-title">{{ item.name }} 
          <span *ngIf="item.require_test" class="text-danger"> (Requer Aprovação) </span>
          <span *ngIf="item.max_units" class="text-danger">(limite {{ item.max_units }})</span>
        </h5>
      </div>
      <div class="card-footer text-center">
        <a class="card-link text-warning">{{ item.gold_price }} Gold</a>
        <a class="card-link text-primary">{{ item.cash_price }} Cash</a>
        <button type="button" class="btn btn-outline-success card-link" (click)="buy(item)">Comprar</button>
      </div>
    </div>
  </div>
</div>

