<h1 mat-dialog-title>
  <div class="d-flex justify-content-between">
    <span>{{ item.name }} </span>
    <span *ngIf="item.require_test" class="text-danger d-none d-md-block">(Requer Aprovação) </span>
    <span *ngIf="item.max_units" class="text-danger d-none d-md-block">(limite {{ item.max_units }})</span>
    <span class="text-primary d-none d-md-block">{{ item.cash_price }} Cash</span>
    <span class="text-warning mr-2 d-none d-md-block">{{ item.gold_price }} Gold</span>
  </div>
</h1>
<div mat-dialog-content> 
  <div class="row">
    <div class="col-12 col-md-6">
      <img class="img-fluid rounded mx-auto d-block" src="{{ item.image }}">
    </div>
    <div class="col-12 col-md-6 mt-4">
      <h5>Descrição:</h5>
      <div [innerHTML]="item.detail | nl2br"></div>
      <span *ngIf="!item.detail">Item sem descrição...</span>
    </div>
  </div>
    <mat-card class="mt-4 mb-4">
      <mat-card-header><h5>Jogadores que o possuem:</h5></mat-card-header>
      <mat-list>
        <mat-list-item *ngFor="let player of item.players">
          {{ player.user.name }} - {{ player.process.units }} unidade(s)
        </mat-list-item>
        <mat-list-item *ngIf="!item.players.length">Nenhum jogador possue este item</mat-list-item>
      </mat-list>  
    </mat-card>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close class="mr-2">Fechar</button>
  <button type="button" mat-stroked-button color="accent" [mat-dialog-close]="item">Comprar</button>
</div>