<div class="row" *ngIf="rpg && rpg.players && rpg.players[0]">
  <div class="col-12 mt-4">
    <mat-form-field appearance="outline">
      <mat-label> Filtro </mat-label>
      <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Buscar jogadores pelo nome...">
    </mat-form-field>
  </div>
</div>

<div class="row" *ngIf="rpg && rpg.players && rpg.players[0]">
  <div class="col-12 col-md-6" *ngFor="let player of players">
    <mat-card class="mb-4" (click)="open(player)">
      <img  #playerImage mat-card-image src="{{ player.image }}"
            [ngStyle]="{'height.px': playerImage.width/2, 'object-fit': 'cover'}">
      <mat-card-header>
        <mat-card-title><h5>{{ player.user.name }}</h5></mat-card-title>
      </mat-card-header>
      <mat-list>
        <mat-list-item>Status: {{ helperService.status(player.credential) }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="text-warning">{{ player.gold }} Gold</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="text-primary">{{ player.cash }} Cash</mat-list-item>
      </mat-list>
      <mat-card-footer class="card-footer text-center">
        <small class="card-link"> Criado em: {{ player.created_at }}</small> 
      </mat-card-footer>
    </mat-card>
  </div>
</div>