<div class="row" *ngIf="rpg">
  <div class="col-12 col-md-6 mt-4">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel title="Lojas">
        <ng-template ngbPanelContent>

        </ng-template>
      </ngb-panel>
      <ngb-panel title="Pedidos de Inscrição">
        <ng-template ngbPanelContent>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let waitPlayer of playersWithCredential(0)">
              {{ waitPlayer.user.name }}
              <button (click)="registerResponse(waitPlayer.id, false)" class="float-right btn btn-outline-danger ml-2">
                Cancelar
              </button>
              <button (click)="registerResponse(waitPlayer.id, true)" class="float-right btn btn-outline-success">
                Aceitar
              </button>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-12 col-md-6 mt-4">
    <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Info">
        <ng-template ngbPanelContent>
          <ul class="list-group">
            <li class="list-group-item text-danger">Pedidos de Inscrição: {{ playersWithCredential(0).length }}</li>
            <li class="list-group-item text-danger">Pedidos de Item: {{ playersWithRequests }}</li>
            <li class="list-group-item">Jogadores: {{ playersWithCredential(1).length }}</li>
            <li class="list-group-item">Moderadores: {{ playersWithCredential(2).length }}</li>
            <li class="list-group-item">Mestres Auxiliares: {{ playersWithCredential(3).length }}</li>
          </ul>
        </ng-template>
      </ngb-panel> 
      <ngb-panel title="Geral">
        <ng-template ngbPanelContent>
          <form [formGroup]="form" (ngSubmit)="updateRpg()">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Nome do Rpg</span>            
              </div>
              <input type="text" class="form-control {{ (isFieldInvalid('name'))?'is-invalid':'' }}" formControlName="name">
              <span class="invalid-feedback" role="alert">
                  <strong>O nome do rpg não pode ficar em branco e deve ter entre 5 e 25 caracteres!</strong>
              </span>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" placement="left" 
                      ngbTooltip="Valor de gold dado aos iniciantes do rpg.">
                  Gold Inicial
                </span>            
              </div>
              <input type="number" class="form-control {{ (isFieldInvalid('gold_starter'))?'is-invalid':'' }}" formControlName="gold_starter">
              <span class="invalid-feedback" role="alert">
                <strong>O gold inicial deve ser preenchido com um valor maior ou igual a 0!</strong>
              </span>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" placement="left" 
                        ngbTooltip="Valor de cash dado aos iniciantes do rpg.">
                  Cash Inicial
              </span>
              </div>
              <input type="number" class="form-control {{ (isFieldInvalid('cash_starter'))?'is-invalid':'' }}" formControlName="cash_starter">
              <span class="invalid-feedback" role="alert">
                  <strong>O cash inicial deve ser preenchido com um valor maior ou igual a 0!</strong>
              </span>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text" placement="left" 
                        ngbTooltip="Se sim, o rpg será aberto e ninguém precisará de aprovação para entrar.">
                  Rpg público?
              </span>
              </div>
              <select formControlName="is_public" class="custom-select {{ (isFieldInvalid('is_public'))?'is-invalid':'' }}">
                <option value="0">Não</option>
                <option value="1">Sim</option>
              </select>
              <span class="invalid-feedback" role="alert">
                  <strong>Você deve escolher se o rpg é público ou não!</strong>
              </span>
            </div>
            <div class="card mb-2">
              <div class="card-body">
                  <label class="card-title">Capa do Rpg</label>
                  <input type="file" #capaRpg (change)="handleFileInput($event.target.files)" class="form-control-file">
                  <span class="text-muted">A nova imagem irá aparecer assim que você recarregar a página após ser salva!</span>
              </div>
            </div>
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
              Salvar
            </button>   
          </form>    
        </ng-template>
      </ngb-panel>     
    </ngb-accordion>
  </div>
</div>
