<h1 mat-dialog-title>Editar {{ item.name }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12 col-md-6">
      <img class="img-fluid mat-elevation-z8" src="{{ item.image }}">
      <mat-card class="mt-4 mb-4 mat-elevation-z8">
        <mat-card-header>
          <mat-card-title> Imagem do Item </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <input type="file" #imageItem (change)="handleFileInput($event.target.files)" class="form-control-file">
          <span class="text-muted">A nova imagem, após ser salva, irá aparecer assim que você recarregar a página!</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z8">
          <mat-expansion-panel-header>
            <mat-panel-title>Geral</mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>Nome do Item</mat-label>
              <input matInput type="text" placeholder="Digite o nome do item" formControlName="name">
              <mat-error *ngIf="isFieldInvalid('name')">
                <strong>O nome do item não pode ficar em branco e deve ter entre 5 e 25 caracteres!</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Preço Gold</mat-label>
              <input matInput type="number" formControlName="gold_price" placeholder="Digite o preço em gold">
              <mat-error *ngIf="isFieldInvalid('gold_price')">
                <strong>O gold deve ser preenchido com um valor maior ou igual a 0!</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Preço Cash</mat-label>
              <input matInput type="number" formControlName="cash_price" placeholder="Digite o preço em cash">
              <mat-error *ngIf="isFieldInvalid('cash_price')">
                <strong>O cash deve ser preenchido com um valor maior ou igual a 0!</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Limite disponível</mat-label>
              <input matInput type="number" formControlName="max_units" placeholder="Digite o limite disponível deste item">
              <mat-hint *ngIf="!isFieldInvalid('max_units')">Se o item for ilimitado, deixe o valor do limite igual a 0.</mat-hint>
              <mat-error *ngIf="isFieldInvalid('max_units')">
                <strong>O limite deve ser preenchido com um valor maior ou igual a 0!</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Requer Aprovação?</mat-label>
              <mat-select placeholder="Escolha sim ou não" formControlName="require_test">
                <mat-option [value]="0">Não</mat-option>
                <mat-option [value]="1">Sim</mat-option>
              </mat-select>
              <mat-error *ngIf="isFieldInvalid('require_test')">
                <strong>Você deve escolher se o item requer aprovação de um moderador ou não!</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Detalhes do Item</mat-label>
              <textarea rows="15" #detail matInput maxlength="5000" formControlName="detail" placeholder="Escreva os detalhes aqui"></textarea>
              <mat-error *ngIf="isFieldInvalid('detail')">
                <strong>Os detalhes do item não podem passar os 5000 caracteres!</strong>
              </mat-error>
              <mat-hint align="end">{{detail.value.length}} / 5000</mat-hint>
            </mat-form-field>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close class="m-1">Fechar</button>
  <button mat-stroked-button color="accent" [disabled]="form.invalid" (click)="updateItem()" class="m-1">Salvar</button>
</div>