<mat-drawer-container>
<div class="page-wrap">
<mat-toolbar color="primary" class="mb-2">
    <span class="d-none d-sm-block">Mesa online</span>
    <span class="eth-between"></span>
    <button mat-button routerLink="rpgs">Rpgs</button>
    <button mat-button *ngIf="!token" routerLink="login">Login</button>
    <button mat-button *ngIf="token" routerLink="rpgs/user">Meus Rpgs</button>
    <button mat-button *ngIf="token" (click)="logout()">Logout</button>
    <mat-slide-toggle [checked]="isChecked" color="primary" #turnOn (change)="changeTheme(turnOn.checked)">{{ turnText }}</mat-slide-toggle>
</mat-toolbar> 
<eth-loader></eth-loader>
<!--ngx-spinner    bdColor = "rgba(51, 51, 51, 0.8)" size = "large" 
                color = "#fff" type = "ball-atom">
</ngx-spinner-->
<div class="container" style="flex: 1;">
    <router-outlet></router-outlet>
</div>

<mat-toolbar color="primary" class="mt-4">
    <div class="container">
        <p class="m-0 text-center">Copyright &copy; Methir 2018</p>
    </div>
</mat-toolbar>
</div>
</mat-drawer-container>
