<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-2">
    <!-- Collapsed Hamburger -->
    <div class="container">
        <!-- Branding Image -->
        <a class="navbar-brand">Mesa online</a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Right Side Of Navbar -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="reports">
                        Notícias
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="rpgs">Rpgs</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="rpgs/my">Meus Rpgs</a>
                </li>       
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!--eth-report></eth-report-->
    <router-outlet></router-outlet>
</div>
