{{ rpgs | json }}
<div class="row">
  <div class="col-12 col-md-6" *ngFor="let rpg of rpgs">
    <div class="card mb-4">
      <img class="card-img-top" src="http://via.placeholder.com/900x300">
      <div class="card-body">
        <h5 class="card-title">{{ rpg.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Mestre: {{ rpg.master.name }} - Rpg {{ (rpg.is_public)?"público":"privado" }}</h6>
      </div>
      <ul class="list-group list-group-flush" *ngIf="rpg.player">
        <li class="list-group-item">Status: {{ helperService.status(rpg.player.credential) }}</li>
        <li class="list-group-item list-group-item-warning">{{ rpg.player.gold }} Gold</li>
        <li class="list-group-item list-group-item-primary">{{ rpg.player.cash }} Cash</li>
      </ul>
      <div class="card-footer text-center">
        <small class="text-muted card-link"> Criado em: {{ rpg.created_at }}</small>
        <button type="button" class="btn btn-outline-primary card-link" [routerLink]="['/rpgs', rpg.id]" >Entrar</button>
      </div>
    </div>
  </div>
</div>
