<div class="row">
  <div class="col-6" *ngFor="let rpg of rpgs">
    <div class="card mb-4">
      <img class="card-img-top" src="http://via.placeholder.com/900x300">
      <div class="card-body">
        <h5 class="card-title">{{ rpg.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Mestre: {{ rpg.master.name }} - Rpg {{ (rpg.is_public)?"público":"privado" }}</h6>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted card-link"> Publicado em: {{ rpg.created_at }}</small> 
        <button type="button" class="btn btn-outline-primary card-link">Enviar pedido de participação</button>
      </div>
    </div>
  </div>
</div>
