<div class="row mt-4 mb-4" *ngIf="rpg?.player?.credential">
  <div class="col-12 col-md-6">
      <img class="img-fluid" src="{{ rpg.player.image }}">
  </div>
  <div class="col-12 col-md-6"> 
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Info</mat-panel-title>
        </mat-expansion-panel-header>          
        <mat-list>
          <mat-list-item>Nome: {{ rpg.player.user.name }}</mat-list-item>
          <mat-list-item>Status: {{ helperService.status(rpg.player.credential) }}</mat-list-item>
          <mat-list-item class="text-warning">{{ rpg.player.gold }} Gold</mat-list-item>
          <mat-list-item class="text-primary">{{ rpg.player.cash }} Cash</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Items</mat-panel-title>
        </mat-expansion-panel-header>  
        <mat-list>
          <mat-list-item *ngFor="let item of rpg.player.items">
            {{ item.name }} - {{ item.process.units }} unidade(s)
            <span class="eth-between"></span>
            <button mat-stroked-button color="warn" (click)="discardItem(item)">
              Descartar
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Solicitações de Items</mat-panel-title>
        </mat-expansion-panel-header> 
          <mat-list>
            <mat-list-item *ngFor="let request of rpg.player.requests">
            <span class="text-danger">Aguardando por [{{ request.name }}] ...</span>
            <span class="eth-between"></span>
            <button mat-stroked-button color="warn" (click)="dismissRequest(request)">
              Cancelar
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>