/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import '~bootstrap/dist/css/bootstrap-reboot.css';
@import './gutter.css';
@import './text.css';
@import './h.css';

.mat-form-field {
    width: 100%;
}

.img-fluid {
    width: 100%;
}

.eth-tooltip {
    font-size: 16px;
}

.eth-between {
    flex: 1 1 auto;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
  
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-link:hover {
    text-decoration: none;
}
  
.card-link + .card-link {
    margin-left: 1.25rem;
}